{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h2>{{ post.title }} - Add a new comment</h2>
    <form method="post">
      {{ comment_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Add comment"></p>
    </form>
{% endblock %}
