<!DOCTYPE html>
{% load blog_tags %}
{% load static %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
  <span class="home"><a href="{% url 'blog:post_list' %}" >My blog</a></span>
  <span class="user">
    {% if request.user.is_authenticated %}
      Hello {{request.user.first_name}},
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'login' %}">Log-in</a>
    {% endif %}
  </span> &nbsp;&nbsp;&nbsp;
  <span class="search"><a href="{% url 'blog:post_search' %}">Search</a></a></span>
</div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">

    <p>This is my blog. I've written {% total_posts %} posts so far.</p>
    <p><a href="{% url 'blog:post_feed' %}">Subscribe to my RSS feed</a></p>
    <h3>Latest posts</h3>
    {% show_latest_posts 3 %}
    <h3>Most commented posts</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
      {% for post in most_commented_posts %}
        <li>
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
