{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    <h1>Log-in</h1>
    <h2>You're already logged in!</h2>
    <p><a href="{% url 'homepage_auth' %}">Click here</a> to return to the homepage</p>
    <script type="text/javascript">location.href = "{% url 'homepage_auth' %}";</script>

  {% else %}
    <h1>Log-in</h1>
    {% if form.errors %}
      <p>
        Your username and password didn't match.
        Please try again.
      </p>
    {% else %}
      <p>Please, use the following form to log-in. If you don't have an account <a href="{% url 'blog:register' %}">register here</a></p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in"></p>
      </form>

    </div>
    <p class="forgotten-pwd">
      <a href="{% url 'blog:password_reset' %}">Forgotten your password?</a>
    </p>
  {% endif %}
{% endblock %}
