{% extends "base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|linebreaks }}


  <p><hr></p>
  <button class="back-button"><a href="{% url 'blog:post_list' %}">Back</a></button><button class="share-btn"><a href="{% url "blog:post_share" post.id %}">Share</a></button>
  <h2>Similar posts</h2>
  {% for post in similar_posts %}
    <p>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
  {% empty %}
    There are no similar posts yet.
  {% endfor %}

  <p><hr></p>
  <h2>Comments</h2>
    {% with comments.count as total_comments %}
      <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
      </h2>
    {% endwith %}

    {% for comment in comments %}
      <div class="comment">
        <p class="info">
          Comment {{ forloop.counter }} by {{ comment.name }}
          {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
      </div>
    {% empty %}
      <p>There are no comments yet.</p>
    {% endfor %}

  <p><hr></p>
  <h4><a href="{% url 'blog:comment_create' post.id %}">Add a new comment</a></h4>
{% endblock %}
